[Unit]
Description=Publish docker stats to QuestDB
DefaultDependencies=no
After=docker.service
Before=multi-user.target

[Service]
Environment="RUST_LOG=info"
Type=notify
ExecStart=/home/ec2-user/docker/container-statsd --node $HOST_NODE --questdb $NODEM --mode max
Restart=always
NotifyAccess=main
WatchdogSec=30s

[Install]
WantedBy=default.target